src/main/app/test-service-new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <context:property-placeholder location="test-ws-${mule.env}.properties"/>
    <flow name="test-service-newFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="30000"/>
            <logger message="++++ Entry GET Order Status ++++" level="INFO" doc:name="logStart"/>
        </poll>
        <set-payload value="#['[{
        &quot;orderId&quot;: &quot;I1234&quot;,
        &quot;orderType&quot;: &quot;ABC&quot;,
        &quot;status&quot;: &quot;Completed&quot;
 },
 {
        &quot;orderId&quot;: &quot;I5678&quot;,
        &quot;orderType&quot;: &quot;DEF&quot;,
        &quot;status&quot;: &quot;InProgress&quot;
 }]']" doc:name="setPayload"/>
        <logger message="#[payload]" level="INFO" doc:name="logPayload"/>

        <logger message="++++ Exit GET Order Status ++++" level="INFO" doc:name="logEnd"/>
    </flow>
</mule>
